.winlose {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 42px;
  height: 260px;
  justify-content: center;
  left: calc(50% - 126px);
  position: fixed;
  text-align: center;
  top: 205px;
  transition: all 0.375s;
  transform: translateY(0);
  width: 260px;
}

.winlose p {
  margin: 0 0 2rem 0;
}

.hidden {
  transform: translateY(100vh);
}

.btn {
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  font-size: 26px;
  margin: 0 auto;
  padding: 0.4rem 1.6rem 0.6rem;
  width: 140px;
}
