.block {
  border-style: solid;
  border-radius: 50%;
  border-width: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.transition-true .block {
  transition: all 0.33s;  
}

.block-8 {
  width: 12.5%;
}

.block-9 {
  width: 11.11%;
}

.block-10 {
  width: 10%;
}

.block-11 {
  width: 9.09%;
}

.block-12 {
  width: 8.33%;
}

.block-13 {
  width: 7.67%;
}

.block-14 {
  width: 7.133%;
}

.block-15 {
  width: 6.667%;
}

.won-almost .block,
.won-true .block,
.won-false .block {
    border: 0;
    border-radius: 0;
}
