.gameBoard {
  background-color: white;
  margin: 1rem auto;
  padding: 0.8rem;
  max-width: 50vh;
}

.game {
  background: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100vw;
  max-width: 50vh;
  max-height: 50vh;
}