.h1 {
    margin: 0;
    color: white;
    font-size: 38px;
    font-weight: normal;
    position: relative;
}

.triggerInfo {
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 22px;
    line-height: 1;
    text-align: center;
    font-style: normal;
    position: absolute;
    right: 45px;
    top: 9px;
    width: 22px;
    transition: background-color 0.375s;
}

.triggerInfo span {
  display: inline-block;
  position: relative;
  top: -2px;
}

.triggerInfo.triggered {
  background: white;
  border-radius: 8px;
  color: #222;
  height: 80px;
  right: 32px;
  line-height: 1.4;
  font-style: normal;
  padding: 1rem 2rem;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 280px;
}

.triggerInfo.triggered span {
    border: 2px solid #222;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    font-weight: bold;
    position: relative;
    right: -11px;
    text-align: center;
    width: 22px;
}

.triggerInfo.triggered small {
  display: inline-block;
}

.header {
  margin: 0 auto 16px;
  padding: 0.6rem 0 0;
  max-width: 50vh;
  text-align: center;
}

.count {
  font-weight: lighter;
  padding: 2px;
  font-size: 24px;
  color: white;
}

.count span {
  font-weight: bold;
  text-align: center;
}

.content {
  background-color: #79C05B;
  height: 100vh;
  width: 100vw;
}

.grape {
  background-color: #a340d4;
  border-color: hsl(280, 63%, 68%);
}

.fuchsia {
  background-color: hsl(302, 100%, 72%);
  border-color: hsl(316, 100%, 84%);
}

.pink {
  background-color: hsl(307, 100%, 85%);
  border-color: hsl(307, 100%, 92%);
}

.red {
  background-color: #FF5A5A;
  border-color: hsl(0, 100%, 80%);
}

.orange {
  background-color: #FFA424;
  border-color: hsl(35, 100%, 72%);
}

.lime {
  background-color: #79C05B;
  border-color: hsl(80, 52%, 73%);
}

.aqua {
  background-color: hsl(186, 77%, 58%);
  border-color: hsl(186, 77%, 82%);
}

.blue {
  background-color: hsl(210, 100%, 71%);
  border-color: hsl(210, 100%, 84%);
}

.dblue {
  background-color: hsl(224, 100%, 63%);
  border-color: hsl(224, 100%, 80%);
}

.purple {
  background-color: hsl(259, 71%, 53%);
  border-color: hsl(253, 100%, 76%);
}

.newgame {
  background-color: white;
  color: #212121;
  white-space: nowrap;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 1.6rem auto;
  width: 100px;
  text-align: center;
}
