h1 {
  margin: 0;
  color: white;
  font-weight: normal;
}

.triggerInfo {
  background: white;
  border-radius: 50%;
  color: #222;
  display: inline-block;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-style: normal;
  position: relative;
  top: -5px;
  width: 22px;
}

.header {
  margin: 0 auto 16px;
  padding: 0.6rem 0 0;
  max-width: 50vh;
  text-align: center;
}

.count {
  font-weight: lighter;
  padding: 2px;
  font-size: 24px;
  color: white;
}

.count span {
  font-weight: bold;
  text-align: center;
}

.content {
  background-color: #79C05B;
  height: 100vh;
  width: 100vw;
}

.grape {
  background-color: #a340d4;
  border-color: hsl(280, 63%, 68%);
}

.fuchsia {
  background-color: hsl(302, 100%, 72%);
  border-color: hsl(316, 100%, 84%);
}

.pink {
  background-color: hsl(307, 100%, 83%);
  border-color: hsl(307, 100%, 90%);
}

.red {
  background-color: #FF5A5A;
  border-color: hsl(0, 100%, 80%);
}

.orange {
  background-color: #FFA424;
  border-color: hsl(35, 100%, 72%);
}

.lime {
  background-color: #79C05B;
  border-color: hsl(80, 52%, 73%);
}

.aqua {
  background-color: #3DBFCE;
  border-color: hsl(186, 60%, 73%);
}

.blue {
  background-color: hsl(223, 100%, 75%);
  border-color: hsl(223, 100%, 83%);
}

.dblue {
  background-color: hsl(238, 67%, 56%);
  border-color: hsl(238, 100%, 79%);
}

.purple {
  background-color: #7f4af1;
  border-color: hsl(253, 100%, 76%);
}

.newgame {
  background-color: white;
  color: #212121;
  white-space: nowrap;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 1.6rem auto;
  width: 100px;
  text-align: center;
}
