.h1 {
    margin: 0;
    color: white;
    font-size: 38px;
    font-weight: normal;
    position: relative;
}

.triggerInfo {
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 22px;
    line-height: 1;
    text-align: center;
    font-style: normal;
    position: absolute;
    right: 45px;
    top: 9px;
    width: 22px;
    transition: background-color 0.375s;
}

.triggerInfo span {
  display: inline-block;
  position: relative;
  top: -2px;
}

.triggerInfo.triggered {
  background: white;
  border-radius: 8px;
  color: #222;
  height: 80px;
  right: 24px;
  line-height: 1.4;
  font-style: normal;
  padding: 1rem 2rem;
  position: absolute;
  text-align: left;
  top: 0;
  width: 280px;
}

.triggerInfo.triggered span {
    border: 2px solid #222;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    font-weight: bold;
    position: relative;
    right: -11px;
    text-align: center;
    width: 22px;
}

.triggerInfo.triggered small {
  display: inline-block;
}

.header {
  margin: 0 auto 16px;
  padding: 0.6rem 0 0;
  max-width: 50vh;
  text-align: center;
}

.count {
  font-weight: lighter;
  padding: 2px;
  font-size: 24px;
  color: white;
}

.count span {
  font-weight: bold;
  text-align: center;
}

.content {
  background-color: #79C05B;
  height: 100vh;
  width: 100vw;
}

.grape {
  background-color: #5F35B8;
  border-color: #997DFF;
}

.fuchsia {
  background-color: #AC10EB;
  border-color: #E27DFF;
}

.pink {
  background-color: #FF48EA;
  border-color: #FAA3E9;
}

.red {
  background-color: #FF5A5A;
  border-color: #FF9797;
}

.orange {
  background-color: #FF8524;
  border-color: #FFAF67;
}

.lime {
  background-color: #8CB33B;
  border-color: #B3E059;
}

.green {
  background-color: #009C3C;
  border-color: #68D893;
}

.aqua {
  background-color: #3DBFCE;
  border-color: #72EDFB;
}

.blue {
  background-color: #3771FF;
  border-color: #5ABAFF;
}

.newgame {
  background-color: white;
  color: #212121;
  white-space: nowrap;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 1.6rem auto;
  width: 100px;
  text-align: center;
}
